#site-div {
  background-color: red;
  padding: 100px;
  width: 300px;
}

h1, input[type="text"] {
  color: green;
  text-shadow: 2px 2px white;
}

span {
   font-style: italic;
   font-size: 12px; 
}

#price {
  color: lightgreen; 
  font-style: normal;
  font-size: 15px; 
}